.jumbotron{
  background-image: url(/public/images/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}

.jumbotron h1 {
  text-shadow: 2px 2px 5px black;
}

.detail-container {
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
  padding-bottom: 10px;
}

ul {
  margin-top: 10px;
  padding: 0;
}

.animal-tiles {
  background-color: rgba(200, 200, 200, 0.5);
  vertical-align: top;
  margin: 0 10px 10px 0;
  width: 30%;
  height: 200px;
  opacity: 1;
  display: inline-block;
  -webkit-transition: opacity 1s;
}

.animal-tiles:hover {
  -webkit-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-out;
  opacity: 0.5;
}


.tile-header {
    margin: 5px;
    color: white;
    text-shadow: 1px 2px black;
}

.editButton {
  border: 0;
  padding: 0;
  background: transparent;
}

.editButton img {
  height: 10px;
  width: auto;
}

.editButton img:hover {
  height: 15px;
  width: auto;
}

.pencil-container {
  margin-top: 10px;
  margin-right: -10px;
  padding: 0;
  float: right;
}
